@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* font-family: "Montserrat", serif;    header*/
/* font-family: "Roboto", serif;  text */

/*----------------------------------------------------AboutSECTION-----------------------*/

.aboutSection {
  display: flex;
  justify-content: center;
  background-color: #121212;
}

.aboutContainer {
  width: 210mm; /* A4 width */
  height: auto; /* A4 height */
  background-color: #919191;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
}

.aboutHeader {
  color: #121212;
  font-family: "Montserrat", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 25px 25px 30px 25px;
  text-align: left;
  max-width: 80%;
  line-height: 1.3;
}

.aboutText {
  color: #121212;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

/*grid container*/

.gridContainer {
  background-color: #7f7e7e;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: calc(100% + 40px);
  margin-left: -40px;
  padding: 20px 40px;
  box-sizing: border-box;
}

.gridParagraph {
  color: #121212;
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;
  margin: 20px 25px;
  max-width: 90%;
  grid-column: 1;
  grid-row: 1;
}

.aboutButton {
  background-color: #b34100;
  border-radius: 8px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  outline: none;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: all 0.3s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  grid-column: 1;
  grid-row: 2;
  margin: 0 25px;
}

.aboutButton:hover {
  background-color: #121212;
  color: #b34100;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(179, 65, 0, 0.3);
}

.aboutImage {
  width: 380px;
  height: 300px;
  object-fit: cover;
  margin: 20px 0;
  grid-column: 2;
  grid-row: 1 / span 2;
}

@media (max-width: 480px) {
  .aboutContainer {
    width: 100%;
    padding: 20px;
  }

  .aboutHeader {
    font-size: 24px;
    margin: 15px;
    max-width: 100%;
  }

  .aboutText {
    font-size: 14px;
    margin: 15px;
    line-height: 1.8;
  }

  .gridContainer {
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0;
    padding: 15px;
  }

  .gridParagraph {
    font-size: 14px;
    margin: 15px;
    grid-column: 1;
    grid-row: 1;
    text-align: left;
  }

  .aboutButton {
    grid-column: 1;
    grid-row: 3;
    width: calc(100% - 30px);
    margin: 15px;
  }

  .aboutImage {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    grid-column: 1;
    grid-row: 2;
  }
}

/*----------------------------------------------------benefits SECTION-----------------------*/

.benefitsSection {
  display: flex;
  justify-content: center;
  background-color: #121212;
}

.benefitsContainer {
  width: 210mm; /* A4 width */
  height: auto; /* A4 height */
  background-color: #919191;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.benefitsHeader {
  color: #121212;
  font-family: "Montserrat", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 25px 25px 30px 25px;
  text-align: left;
  max-width: 80%;
  line-height: 1.3;
}

.benefits1 {
  color: #121212;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.benefitsText1 {
  color: #121212;
  font-family: "Montserrat", serif;
  font-style: italic;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.benefitsText {
  color: #121212;
  font-family: "Roboto", serif;
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.benefitsText a {
  color: #b34100;
  text-decoration: none;
}

.benefitsImage {
  height: 300px;
  object-fit: cover;
  margin: 20px auto;
  margin-bottom: 40px;
  display: block;
}

.benefitsSubtext {
  color: #121212;
  font-family: "Montserrat", serif;
  font-style: italic;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 40px 20px 25px;
  margin: 25px;
  border-left: 3px solid #b34100;
  position: relative;
}

.benefitsSubtext::before {
  content: "";
  color: #b34100;
}

.benefitsSubtext::after {
  content: "";
  color: #b34100;
}

@media (max-width: 480px) {
  .benefitsContainer {
    width: 100%;
    padding: 20px;
  }

  .benefitsHeader {
    font-size: 24px;
    margin: 15px;
    max-width: 100%;
  }

  .benefitsText {
    font-size: 14px;
    margin: 15px;
    line-height: 1.8;
  }

  .benefitsButton {
    grid-column: 1;
    grid-row: 3;
    width: calc(100% - 30px);
    margin: 15px;
  }

  .benefitsImage {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    grid-column: 1;
    grid-row: 2;
  }
}

/*----------------------------------------------------RISKS SECTION-----------------------*/

.risksSection {
  display: flex;
  justify-content: center;
  background-color: #121212;
}

.risksContainer {
  width: 210mm; /* A4 width */
  height: auto; /* A4 height */
  background-color: #919191;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.risksHeader {
  color: #121212;
  font-family: "Montserrat", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 25px 25px 30px 25px;
  text-align: left;
  max-width: 80%;
  line-height: 1.3;
}

.risks1 {
  color: #121212;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.risksText1 {
  color: #121212;
  font-family: "Montserrat", serif;
  font-style: italic;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.risksText {
  color: #121212;
  font-family: "Roboto", serif;
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.risksSubtext a {
  color: #b34100;
  text-decoration: none;
}

.risksImage {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin: 20px auto;
  margin-bottom: 40px;
  display: block;
}

.risksSubtext {
  color: #121212;
  font-family: "Montserrat", serif;
  font-style: italic;
  letter-spacing: 0.05em;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px 40px 20px 25px;
  margin: 25px;
  border-left: 3px solid #b34100;
  position: relative;
}

.risksSubtext::before {
  content: "";
  color: #b34100;
}

.risksSubtext::after {
  content: "";
  color: #b34100;
}

.riskbutton {
  background-color: #b34100;
  border-radius: 8px;
  color: #121212;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", serif;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin: 0 15px;
}

.riskbutton:hover {
  background-color: #121212;
  color: #b34100;
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .risksContainer {
    width: 100%;
    padding: 20px;
  }

  .risksHeader {
    font-size: 24px;
    margin: 15px;
    max-width: 100%;
  }

  .risksText {
    font-size: 14px;
    margin: 15px;
    line-height: 1.8;
  }

  .risksImage {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    grid-column: 1;
    grid-row: 2;
  }
}

/*----------------------------------------------------DISCOVER  SECTION-----------------------*/

.discoverSection {
  display: flex;
  justify-content: center;
  background-color: #121212;
}

.discoverContainer {
  width: 210mm; /* A4 width */
  height: auto; /* A4 height */
  background-color: #919191;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}

.discoverHeader {
  color: #121212;
  font-family: "Montserrat", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 25px 25px 30px 25px;
  text-align: left;
  max-width: 80%;
  line-height: 1.3;
}

.discover1 {
  color: #121212;
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.discoverText1 {
  color: #121212;
  font-family: "Montserrat", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.discoverText {
  color: #121212;
  font-family: "Roboto", serif;
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.discoverText a {
  color: #b34100;
  text-decoration: none;
}

.discoverImage {
  height: 300px;
  object-fit: cover;
  margin: 20px auto;
  margin-bottom: 40px;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.imageCaption {
  font-size: 12px;
  color: #121212;
  text-align: center;
  margin-top: -18px;
  margin-bottom: 40px;
  font-family: "Roboto", serif;
}

.imageCaption a {
  color: #121212;
}

@media (max-width: 480px) {
  .discoverContainer {
    width: 100%;
    padding: 20px;
  }

  .discoverHeader {
    font-size: 24px;
    margin: 15px;
    max-width: 100%;
  }

  .discoverText {
    font-size: 14px;
    margin: 15px;
    line-height: 1.8;
  }

  .discoverImage {
    height: 200px;
    margin: 15px auto;
    margin-bottom: 30px;
  }

  .discoverImage {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    grid-column: 1;
    grid-row: 2;
  }
}
