@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif;    header*/
/* font-family: "Roboto", serif;  text */



.discoverSection {
  display: flex;
  justify-content: center;
  background-color: #121212; 
}

.discoverContainer{
  width: 210mm;  /* A4 width */
  height: auto; /* A4 height */
  background-color: #919191;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 25px;
}

.discoverHeader  {
  color: #121212;
  font-family: "Montserrat", serif;
  font-size: 36px;
  font-weight: bold;
  margin: 25px 25px 30px 25px;
  text-align: left;
  max-width: 80%;
  line-height: 1.3;
}

.discover1{
  color: #121212;
  font-family: "Roboto", serif;
 font-weight: bold;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.discoverText1{
  color: #121212;
  font-family: "Montserrat", serif;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}


.discoverText{
  color: #121212;
  font-family: "Roboto", serif;
margin-top: 10px;
  font-size: 16px;
  line-height: 2;
  max-width: 90%;
  margin-left: 25px;
  margin-right: 25px;
  letter-spacing: 0.05em;
}

.discoverText a{
  color: #B34100;
  text-decoration: none;
  
}

.discoverImage {
  height: 300px;
  object-fit: cover;
  margin: 20px auto;
  margin-bottom: 40px;
  display: block;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.3);
}

.imageCaption {
  font-size: 12px;
  color: #121212;
  text-align: center;
  margin-top: -18px;
  margin-bottom: 40px;
  font-family: "Roboto", serif;
}

.imageCaption a{
  color: #121212;
}




@media (max-width: 480px) {
  .discoverContainer {
    width: 100%;
    padding: 20px;
  }

  .discoverHeader {
    font-size: 24px;
    margin: 15px;
    max-width: 100%;
  }

  .discoverText {
    font-size: 14px;
    margin: 15px;
    line-height: 1.8;
  }

  .discoverImage {
    height: 200px;
    margin: 15px auto;
    margin-bottom: 30px;
  }

  .discoverImage {
    width: 100%;
    height: 200px;
    margin: 15px 0;
    grid-column: 1;
    grid-row: 2;
  }
}
